body {
    margin: 10px;
    padding: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}

#box {
    border: 1px solid black;
    width: 28px;
    height: 30px;
}

.blackBox {
     background-color: black;
 }

