.flexContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.innerBox {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.inInnerbox {
    border: 1px solid black;
    flex: 1 1 100%;
}

.colorBox {
    background-color: black;
}

.boxSizeFlexContainer {
    display: flex;
    width: 500px;
    gap: 10px;
}
